.header-section {
    display: flex;
    align-items: center;
}

.header-nav-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.mobile-menu {
    display: none;
}

.header-button {
    padding: 21px 9px;
    width: 48px;
    height: 48px;
    border: 1px solid #A0A0A4;
    border-radius: 8px;
}

.header-button:hover {
    border: 1px solid #FFF;
}

.burger-line {
    position: relative;
    width: 28px;
    height: 4px;
    display: block;
    background: #FFF;
    border-radius: 4px;
}

.burger-line:after, .burger-line:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.burger-line:after {
    top: -10px;
}

.burger-line:before {
    bottom: -10px;
}

.search-block {
    flex-grow: 1;
    margin-left: 32px;
    margin-right: 32px;
}

.search-input {
    position: relative;
    width: 100%;
    padding: 12px 50px 16px 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2) url('../assets/icons/search.svg') no-repeat right 20px center;
    color: #FFF;
}

.search-input::placeholder {
    font-family: "Segoe Regular", sans-serif;
    font-size: 18px;
    color: #C2A8DC;
}

.navbar {
    display: flex;
    align-items: center;
    height: 56px;
}

.navbar-item {
    position: relative;
}

.navbar-link {
    font-family: "Segoe Regular", sans-serif;
    font-size: 13px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-link-text {
    margin-top: 3px;
}

.user-icon {
    margin-bottom: 6px;
}

.cart-icon {
    margin-bottom: 6px;
    margin-right: 6px;
}


.navbar-item:first-child {
    margin-right: 43px;
}

.cart-counter {
    position: absolute;
    top: -7px;
    right: 5px;
    min-width: 16px;
    height: 16px;
    padding: 1px 4px 0px 4px;
    background-color: #F55123;
    border-radius: 16px;
    font-family: "Segoe Bold", sans-serif;
    font-size: 10px;
    text-align: center;
}

@media (max-width: 1023px) {
    .header-nav-item {
        display: none;
    }

    .mobile-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 13px;
    }

    .search-block {
        display: none;
    }

    .navbar {
        display: none;
    }
}