@import "fonts/stylesheet.css";
@import "reset.css";

body {
    background-color: #6725A8;
    height: 100vh;
    font-family: "Segoe Regular", sans-serif;
    overflow-x: hidden;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 24px;
}

.hidden {
    visibility: hidden;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px;
    font-family: "Segoe Bold", sans-serif;
    background: #CB11AB;
    border-radius: 8px;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    background-color: #F6F6FA;
    border-radius: 24px;
}

h2 {
    font-family: "Segoe Bold", sans-serif;
    font-size: 30px;
}

.basket-wrapper-left {
    flex: 2;
}

.basket-wrapper {
    display: flex;
    gap: 32px;
}

.basket-title {
    margin-top: 16px;
    margin-bottom: 24px;
}

.basket-items-wrapper {
    margin-bottom: 33px;
}

.basket-items-selection {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEE1;
    padding-bottom: 18px;
}

.select-all {
    letter-spacing: -0.1px;
}

.toggle-arrow {
    cursor: pointer;
}

.arrow-hide {
    transform: rotate(180deg);
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    width: 22px;
    height: 22px;
    z-index: -1;
}

.checkbox {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #C5C5C8;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    gap: 11px;
    height: max-content;
    align-items: center;
    flex-shrink: 0;
}

.checkbox:hover {
    background: url("../assets/icons/checkbox.png") center no-repeat;
    opacity: 0.5;
}

.checkbox-input:checked + .checkbox {
    background: url("../assets/icons/checkbox.png") center no-repeat;
    opacity: 1;
    border: none;
}

.hide-info {
    display: none;
    font-family: "Segoe Semibold", sans-serif;
    line-height: 24px;
}

.basket-wrapper-right {
    padding-top: 7px;
}

.gray {
    color: #C5C5C8;
}

@media (min-width: 1399px) {
    .basket-title {
        letter-spacing: -0.05em;
    }
}

@media (max-width: 1023px) {
    body {
        font-size: 14px;
    }

    section {
        padding: 15px 0;
    }

    h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .basket-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .mobile-navigation-section {
        display: block;
        background-color: #FFF;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mobile-navigation-list {
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-navigation-link {
        position: relative;
    }

    .mobile-navigation-link .cart-counter {
        top: -5px;
        right: -6px;
        color: #FFF;
    }
}

@media (max-width: 768px) {
    .p-16 {
        padding: 0 16px;
    }

    .checkbox-item {
        position: absolute;
        top: 16px;
        left: 5px;
    }
}

@media (max-width: 480px) {
    .select-all {
        font-size: 16px;
    }

    .basket-title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .basket-items-wrapper {
        margin-bottom: 48px;
    }

    .basket-items-selection {
        padding-bottom: 20px;
    }

    .basket-wrapper-right {
        padding-top: 9px;
    }
}