@import "fonts/stylesheet.css";
@import "reset.css";

body {
    background-color: #6725A8;
    height: 100vh;
    font-family: "Segoe Regular", sans-serif;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 17px 24px 18px 24px;
}

@media (max-width: 1023px) {
    section {
        padding: 16px 13px;
    }
}

.header-section {
    display: flex;
    align-items: center;
}

.header-nav-item {
    display: flex;
    gap: 16px;
    align-items: center;
    letter-spacing: 1px;
}

.header-title {
    font-family: "Segoe Semibold", sans-serif;
    font-size: 23px;
    line-height: 24px;
    color: #FFF;
    text-transform: uppercase;
    width: 106px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 1023px) {
    .header-nav-item {
        display: none;
    }

    .mobile-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-button {
    padding: 21px 9px;
    width: 48px;
    height: 48px;
    border: 1px solid #FFF;
    border-radius: 8px;
}

.burger-line {
    position: relative;
    width: 28px;
    height: 4px;
    display: block;
    background: #FFF;
    border-radius: 4px;
}

.burger-line:after, .burger-line:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.burger-line:after {
    top: -10px;
}

.burger-line:before {
    bottom: -10px;
}

.search-block {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 32px;
}

@media (max-width: 1023px) {
    .search-block {
        display: none;
    }
}

.search-input {
    position: relative;
    width: 100%;
    padding: 12px 50px 16px 21px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2) url('../assets/icons/search.png') no-repeat right 23px center;
}

.search-input::placeholder {
    font-family: "Segoe Regular", sans-serif;
    font-size: 18px;
    color: #C2A8DC;
}

.search-input {
    color: #FFF;
    cursor: pointer;
}

.navbar {
    display: flex;
}

@media (max-width: 1023px) {
    .navbar {
        display: none;
    }
}

.navbar-item {
    position: relative;
}

.navbar-link {
    font-family: "Segoe Regular", sans-serif;
    font-size: 13px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-link-text {
    margin-top: 3px;
}

.user-icon {
    margin-bottom: 5px;
}

.cart-icon {
    margin-bottom: 3px;
    margin-right: 6px;
}


.navbar-item:first-child {
    margin-right: 43px;
}

.cart-counter {
    position: absolute;
    top: -7px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-color: #F55123;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    background-color: #F6F6FA;
    border-radius: 24px;
}

h2 {
    font-family: "Segoe Bold", sans-serif;
    font-size: 30px;
}

.basket-wrapper-left {
    flex: 2;
}

.basket-wrapper {
    display: flex;
    gap: 33px;
}

.basket-wrapper h2 {
    line-height: 41px;
    letter-spacing: -0.05em;
    margin-top: 16px;
    margin-bottom: 23px;
}

.basket-items-selection {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEE1;
    padding-bottom: 18px;
}

.toggle-arrow {
    cursor: pointer;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    width: 22px;
    height: 22px;
    z-index: -1;
}

.checkbox {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #C5C5C8;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    gap: 12px;
    height: max-content;
    align-items: center;
}

.checkbox:hover {
    background: url("../assets/icons/checkbox.png") center no-repeat;
    opacity: 0.5;
}

.checkbox-input:checked + .checkbox {
    background: url("../assets/icons/checkbox.png") center no-repeat;
    opacity: 1;
    border: none;
}

.basket-items-list {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.basket-item-info-wrapper {
    display: flex;
    gap: 15px;
}


.basket-item-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 275px;
}

.basket-item-text p {
    line-height: 25px;

}

.basket-item-characters {
    display: flex;
    gap: 17px;
}

.basket-item-characters-hide {
    display: none;
}

.basket-item-text span {
    font-size: 13px;
}

.basket-item-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    color: #A0A0A4;
    font-size: 13px;
}

.company {
    display: flex;
    gap: 8px;
}

.basket-item-controls-wrapper {
    display: flex;
    gap: 58px;
}

.basket-item-controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.counter {
    width: 100px;
    height: 44px;
    background-color: #FFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px 4px 3px;
}

.counter-button {
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    width: 24px;
    height: 24px;
}

.max-products {
    font-size: 13px;
    color: #FF3B30;
}

.controls {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.basket-item-price {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item-price {
    font-family: "Segoe Bold", sans-serif;
    font-size: 18px;
    letter-spacing: -0.4px;
}

.item-discount {
    font-size: 13px;
    margin-left: auto;
    text-decoration: line-through;
    color: #A0A0A4;
    border-bottom: 1px dashed #A0A0A4;
    width: max-content;
}

.basket-wrapper-right {
    padding-top: 5px;
}

.sale-info {
    flex: 1;
    background-color: #FFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    width: 304px;
    padding: 16px 25px 21px 23px;

}

@media (min-width: 1400px) {
    .sale-info {
        width: 429px;
        padding: 16px 23px 21px 23px;
    }
}

.total-sale-info-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: "Segoe Bold", sans-serif;
    font-style: normal;
    line-height: 32px;
    width: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
}

.total-price {
    letter-spacing: -0.04em;
}

.total-sale-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.total-sale-info span {
    display: block;
}

.basket-info-container {
    margin-top: 26px;
}

.basket-info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.basket-info-title span, img {
    display: block;
    font-family: "Segoe Bold", sans-serif;
}

.address, .basket-pay {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.basket-pay {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: -2px;
}

.address span {
    color: #CB11AB;
    display: block;
    padding-top: 4px;
}

.green-delivery {
    margin-top: 10px;
    padding: 13px 7px 12px 7px;
    display: flex;
    align-items: center;
    gap: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: #F6F6FA;
    border-radius: 8px;
}

@media (max-width: 1023px) {
    .green-delivery br {
        display: none;
    }
}

@media (min-width: 1399px) {
    .green-delivery br {
        display: none;
    }
}

.green {
    color: #0CB477;
    border-bottom: dashed 1px #0CB477;
}

.checkbox-pay-block {
    margin-top: 12px;
    font-size: 14px;
    padding: 10px 7px 12px 7px;
    background-color: #F6F6FA;
    border-radius: 8px;
}

.checkbox-pay-block .checkbox-label {
    gap: 9px;
    letter-spacing: -0.5px;
}

.checkbox-pay-text {
    font-size: 13px;
    display: block;
    margin: 5px 0 0 2px;
}

.confirm-pay {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px;
    font-family: "Segoe Bold", sans-serif;
    background: #CB11AB;
    border-radius: 8px;
    color: #FFFFFF;
}

.rules-confirm {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 6px;
    font-size: 13px;
}

.rules-confirm label {
    width: 20px;
}

.rules {
    border-bottom: 1px solid #C5C5C8;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .rules br {
        display: none;
    }
}

@media (min-width: 1399px) {
    .rules br {
        display: none;
    }
}

.mobile-navigation-section {
    display: none;
}

@media (max-width: 1023px) {
    .mobile-navigation-section {
        display: block;
        background-color: #FFF;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mobile-navigation-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-navigation-link {
        position: relative;
    }

    .mobile-navigation-link .cart-counter {
        top: -5px;
        right: -6px;
        color: #FFF;
    }
}

.footer-info {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

@media (max-width: 1023px) {
    .footer {
        padding-bottom: 70px;
    }
}

